/* classe do conteiner da imagem e do texto */
.imgTexto{
    display: flex;
    margin: 0 12% 50px 12%;
}
/* classe da imagem na página sobre mim */
.imagem{
    width: 15%;
    height: 15%;
    border-radius: 20px;
    box-shadow: 5px 5px white;
    margin-right: 30px;
}
/* classe do texto na página sobre mim */
.textoSobreMim{
    text-align: justify;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}
/* classe dos subtitulo na págona sobre mim */
.tituloSub{
    color: white;
    font-weight: 600;
    font-size: 3em;
    margin-left: 30px;
}
/* classe do texto na página sobre mim */
.topicos{
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px 0 10px 35px;
}